<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>Studio IceCraft</title>
    <link rel="icon" href="/images/StudioIceCraftLogo.png">
    <meta charset="utf-8">
    <meta name="theme-color" content=#6EA3FE>
    <meta name="description" content="Official website of Minecraft add-on and map making studio IceCraft.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Studio IceCraft" />
    <meta property="og:description" content="Official website of Minecraft add-on and map making studio IceCraft." />
    <meta property="og:url" content="https://www.icecraftstudio.repl.co" />
    <meta property="og:image" content="/images/StudioIceCraftLogo.png"/>
    <link href="style.css" rel="stylesheet" type="text/css"/>
  </head>
  <body class="background">
    <div class="content">
      <h1><u>IceCraft Studio</u></h1>
      <nav>
        <a href="/">Main Page</a>
        <a href="/projects/">Projects</a>
        <a href="/mctools/">MC tools</a>
        <a href="/about/">About us</a>
      </nav>
      <p>
        This is Studio IceCraft, add-on and map making studio for Minecraft Bedrock Edition. We offer tested and enjoyable content for free. You can play it, share it or send us feedback and tell us how to make it better.
      </p>
      <div class="discord-frame">
        <iframe src="https://discord.com/widget?id=723303143617593345&theme=dark" width="280" height="470" allowtransparency="true" frameborder="0"sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"style="position: relative;bottom: 0;float: left"></iframe>
        <p>text</p>
      </div>
    </div>
    <footer>
      <p>IceCraft Studio 2021 ©</p>
    </footer>
  </body>
</html>